

.info>.MuiButtonBase-root>.MuiButton-label>.MuiSvgIcon-root{
    margin-right: 2px;
}

.info_modal{
    width: 550px;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 16px 32px 24px;
    position: absolute;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
    background-color: #fff;
}

.info_modal>h2{
    text-align: center;
    padding-bottom: 20px;
}

.info_modal>p{
    text-align: center;
    padding-bottom: 10px;
}