.summaryChart {
    /* display: flex; */
    justify-content: center;
    /* padding        : 10px; */
    /* border: 1px solid #ccc;
    width:400px;
    height: 320px;
    margin: 20px;
   border-radius: 5px; */
}

.MuiPaper-root>h5 {
    text-align: center;
    font-weight   : 300;
    padding-bottom: 15px;
}
.summary_chart_tooltip
{
    margin:10px;
}


.confirmedChart_custom>svg>g>g.Series>g>path {
    stroke: #1e3c72 !important;
}

.confirmedChart_custom>svg>g>g.Series>g>circle {
    stroke: #1e3c72 !important;
    fill  : #1e3c72 !important;
}