 * {
     margin: 0
 }

 body {
     background-color: #fafafa;
 }

 .death_cases {
     background-color: #f83245 !important;
 }

 .recover_cases {
     background-color: #139013 !important;
 }

 .confirm_cases {
     background-image: linear-gradient(0deg, #1e3c72 0, #1e3c72 1%, #2a5298) !important;
 }

 .app_banner_cards {
     justify-content: center;
     display        : flex;
 }

 .app_summary_charts {
     display        : flex;
     justify-content: center;
     align-items    : center;
 }

 /* Mobile Screen Layout */
 @media only screen and (max-width: 900px) {
     .mobile-hidden {
         display: none;
     }

     .app_banner_cards,
     .app_summary_charts {
         flex-flow: row wrap;
     }
 }